body {
    /* background-color: #aea196; */
    background-color: #cbc5bf;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 10);
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
}
h1 {
    text-align: center;
    font-size: 50px;
  }

h2 {
  font-size: 50px;
  color: #4b3e3e; 
}
.line{
  border: none; /* Remove default border */
  border-bottom: 3px solid #4b3e3e; 
  padding: 50px 0;
  /* margin: 10px 0;  */
}
.skip{
  position: absolute;
  top: -40px; /* Move the text 20 pixels up */
}
.skip:focus {
  position: relative;
  top: 20px;
}

h3 {
  font-size: 40px;
  color: rgb(66, 61, 68);
  
  }

p{
    font-weight: 400;
    line-height: 2;
    color: black;
}

img{
 border: 5px solid #4d4949; 
  padding: 10px;
  margin: 20px;
  border-top-right-radius: 30px;
} 
img:hover {
  border-width: 10px; /* Increase the border width on hover */
}
 video{
  /* border: 5px solid #ff4500;  Replace #ff4500 with the color of your choice */
  padding: 10px;
  margin: 20px;
  border-top-right-radius: 30px; 
 }
 
/* General styles for nav li and nav a */
nav li {
  display: inline;
  float: right;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(66, 61, 68);
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  color: #241506;
  font-weight: bold;
}

/* Style the active link (current page) */
nav a:active {
  color: #19304d;
  font-weight: bold;
  border: 2px solid #19304d;
}

/* Styles for the active link with specific class */
nav ul li a.nav-link.active {
  font-weight: bold;
  color: rgb(109, 109, 109);
  /* Add any other styles you want for the active link */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-gap: 10px; /* Spacing between grid items */
}

.grid-item {
  box-sizing: content-box;
  padding: 10px;
}

.grid-item img {
  max-width: 80%;
}

/* Style the images in specific rows */
.grid-item:nth-child(3n + 1) img {
  grid-row: span 2; /* Span 2 rows for the first image in every 3rd item */
}

.si-399 {
  font-size: 50px;
  float:left;
  animation: spin 5s linear; /* Apply the 'spin' animation */
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0; /* Adjusted to the left side */
  /* background-color:#aea196; */
  background-color:#67625c;
  background-image: url('images/b2.jpg'); 
  overflow-x: hidden;
  transition: 0.5s; /* Adjust the transition speed as needed */
  z-index: 1; /* Ensures the menu is on top of other elements */
}

.content {
  transition: margin-right 0.5s; /* Adjust the transition speed as needed */
}

.shifted-content {
  margin-right: 200px; /* Adjust the width to fit the side menu */
}

.side-menu ul {
  padding: 0;
  list-style-type: none;
}

.side-menu ul li {
  padding: 15px 15px;
  
}
.side-menu ul li a {
  color: #ffffff; /* Change text color */
  text-decoration: none; /* Remove link underline */
}

#closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

/* Toggle active state for side menu */
.side-menu.active {
  width: 200px; /* Adjust the width as needed */
}

/* Define the 'spin' animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Tablet view */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cascade images with a minimum width of 200px */
    grid-gap: 10px; /* Spacing between grid items */
    grid-template-rows: auto; /* Reset grid rows to auto for tablet view */
  }

  /* Additional styles for the body in tablet view */
  body {
    background-color: rgb(183, 186, 222);
  }

  /* Align the images differently inside the grid */
  .grid img:nth-child(odd) {
    align-self: start; /* Align odd images to the top of each grid item */
  }

  .grid img:nth-child(even) {
    align-self: end; /* Align even images to the bottom of each grid item */
  }
}
/* Mobile view */
@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr; /* 2 columns */
    grid-gap: 10px; /* Spacing between grid items */
  }
  body {
    background-color: lightblue;
    font-size: 25px;
  }
  h1{
    text-align: center;
  }
  h2{
    color:#3f647c;
  }
  p{
    margin: auto;
    padding-left: 40px;
    font-size: 20px;
    color:#113157;
    text-align: left;
   
  } 
  nav a {
    /* text-decoration: none; */
    color: #437287;
    
    font-size: 25px;
    /* font-weight: bold; */
  }
  nav a:hover {
    color:#19304d;
    font-weight: bold;
  }
  .si-399 {
   display: none;
  }
}
.still-image1 {
  display: none; /* Initially hide the still image */
}
.still-image2 {
  display: none; /* Initially hide the still image */
}
.still-image3 {
  display: none; /* Initially hide the still image */
}
.still-image4 {
  display: none; /* Initially hide the still image */
}

@media (prefers-reduced-motion: reduce) {
  /* Hide GIFs */
  .gif-class {
    display: none;
  }
  .still-image1 {
    display: inline-block; /* or block, depending on your layout */
  }
  .still-image2 {
    display: inline-block; /* or block, depending on your layout */
  }
  .still-image3 {
    display: inline-block; /* or block, depending on your layout */
  }
  .still-image4 {
    display: inline-block; /* or block, depending on your layout */
  }
  .si-399 {
    /* display: none; */
    transition: margin-right 0;
   }
}
